*Thumbs.db*
~*.doc
~*.docx
WebRoster/nbproject/private/
WebRoster/build/
WebRoster/dist/
/WebRosterMVC/nbproject/private/
/WebRosterMVC/build/
/WebRosterMVC/dist/
/WebRosterJTable/nbproject/private/
/WebRosterJTable/build/
/WebRosterJTable/dist/
/ShowAndTellProject/nbproject/private/
/ShowAndTellProject/build/
/ShowAndTellProject/dist/
