button.Image.highlight {
    border-radius: 50%;
    border-color: #FF5722;
    border-width: 2px;
    background-size: contain;
    width: 50px;
    height: 50px;
}

button.Image.highlight:focus {
    outline: none;
}

button.Image.highlight.hover:active {
    background-color: #009688;
    border-color: #009688;
}

button.Image.highlight.hover {
    background-color: #FF5722;
    border-color: transparent;
}

button.Add {
    background-image: url(../images/Add.png);
}

button.Add.hover {
    background-image: url(../images/Add_Hover.png);
}

button.Delete {
    background-image: url(../images/Trash.png);
}

button.Delete.hover {
    background-image: url(../images/Trash_Hover.png);
}

#middleDiv{
    display : block;
    float : left;
    text-align : center; 
    width : 100%;
    height: 500px;
}

#previewDiv {
    border: #009688 2px solid;
}

#outerPreviewDiv {
    width: 50%;
}

#outerPageDiv, #outerEntityDiv {
    width : 15%;
}

#middleDiv > div {
    display : inline;
}

#middleDiv > div > fieldset {
    display : inline;
    width   : inherit;
    height: 90%;
    text-align: center;
}
/* FUCK YOU CSS *//*
#middleDiv > div > fieldset#oEDivFieldSet1, #middleDiv > div > fieldset > div#entityDiv {
    height : 30%;
}

#middleDiv > div > fieldset#oEDivFieldSet2, #middleDiv > div > fieldset > div#entityPropertiesDiv {
    height : 30%;
}
*/
textarea {
    width : 95%;
    height : 9em;
    overflow-y : hidden;
    resize : none;
}
#middleDiv > div#entityDiv * {
    padding : 0;
}
#middleDiv > div#entityDiv > fieldset > div {
    display : block;
    padding : 0;
    width : 100%;
    height: auto;
    overflow: auto;
}
#middleDiv > div > fieldset > div {
    display : block;
    padding : 0;
    width : 100%;
    height: 95%;
    overflow: auto;
}

#middleDiv > div > fieldset > div#pageDiv {
    height: 80%;
    margin-bottom: 10px;
}

#pageDiv > img {
    width: 100px;
    height: 100px;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#pageDiv > img.hover {
    margin-right: 10px;
    background-color: rgba(0,150,136,0.2);
}

legend {
    padding-left : 4px;
    padding-right : 4px;
}
fieldset, legend{
    text-align: center;
    background-color: white;
    margin-bottom: 3px;
    margin-top: 7px;
    position: relative;
    border: solid 2px #FF5722;
    border-radius: 15px;
    color: #009688;
    font-weight: bold;
    font-family: Roboto;
}

button{
    cursor: pointer;
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    border: solid 1.8px #FF5722;
    border-radius: 5px;
    color: #009688;
}

.highlight.hover:enabled{
    background-color: #FF5722;
    color: #FFFFFF
}

.dropdown {
    display: inline-block;
}

.dropdownList {
    background-color: white;
    border: solid #FF5722 2px;
    border-radius: 5px;
    padding: 5px;
}

.dropdownOption {
    text-align: left;
    color: #009688;
    cursor: pointer;
    padding: 5px;
    margin: 0px;
    border-radius: 2px;
}

.dropdownOption.hover {
    background-color: #FF5722;
    color: white;
    text-indent: 2em;
}

.dropdownHeader {
    display: inline;
    border-style: solid;
    border-color: #FF5722;
    border-radius: 5px;
    border-width: 2px;
    color: #009688;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
}

.dropdownHeader.dropdownOpen {
    background-color: #FF5722;
    color: white;
}

