div#controlDiv {
    text-align: center;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
    padding: 10px;
	border: solid 2px #FF5722;
	border-radius: 20px;
}

div#controlDiv label {
    font-size: 11pt;
}

div#controlDiv input {
    width: 80%;
}